<div style="width: 628px; margin: 30px auto; display: block; text-align: center;">
  <%= image_tag "logos/vl-logo.png" %>
  <a href="mailto:info@venturelocalist.com">info@venturelocalist.com</a>
</div>
