// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo {
  background-color: red;
  width: 648px;
  height: 144px;
  background: url('assets/images/logos/vl-logo.png') no-repeat top left;
}
